{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        {% block head %}
            <meta charset='utf-8'>
            <title>{% block title %}bluelog{% endblock %}</title>
            <meta name='viewport' content='width=device-width, initial-scale=1'>
            <link rel='stylesheet' href="{{ url_for('static', filename='css/{}.min.css'.format(request.cookies.get('theme', 'perfect_blue'))) }}"
                                   style='text/css'>
            <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}" 
                                   style='text/css'>
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class='container'>
                    <a class='navbar-brand' href='{{ url_for("blog.index") }}'>{{ admin.blog_title }}</a>
                    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarColor01' 
                 aria-controls='navbarColor01' aria-expanded='false' aria-label='Toggle navigation'>
                        <span class='navbar-toggler-icon'></span>
                    </button>
                    <div class='collapse navbar-collapse' id='navbarColor01'>
                       {{ render_nav_item('blog.index', 'Home') }}
                       {{ render_nav_item('blog.about', 'About') }}
                    </div>
                </div>
            </nav>
        {% endblock %}
        <main class='container'>
            {% for message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{ message[0] }}" role='alert'>
                    <button type="button" class='close' data-dismiss='alert'>&time;</button>
                    {{ message[1] }}
                </div>
            {% endfor %}
            {% block content %}{% endblock %}
            {% block footer %}
                <footer>
                   <p class='float-left'>
                       <small>&copy; 2018 <a href='http://yangtao.com' title='writter by yangtao'>
                               Yangtao
                           <a href='https://github.com/FIREcup/bluelog' title='Fork me on github'>Github</a>
                           <a href='http://helloflask.com' title='A HelloFlask project'>HelloFlask</a>
                       </small>
                   </p>
                </footer>
            {% endblock %}
        </main>
        {% block script %}
            <script type='text/javascript' src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
            <script type='text/javascript' src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
            <script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap.min.js') }}"</script>
            <script type='text/javascript' src="{{ url_for('static', filename='js/script.js') }}"</script>
            {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
        {% endblock %}
    </body>
</html>
